<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--1 mvc 注解驱动-->
    <mvc:annotation-driven/>

    <!--2 静态资源过滤-->
    <mvc:default-servlet-handler/>


    <!--3 指定注解扫描的位置-->
    <context:component-scan base-package="jmu.ssc.supershopping.controller"/>

    <!--4，配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        在SpringMVC中配置MultipartFile（文件上传功能）

        id为固定的，只能为multipartResolver
        作用：将客户端上传的file对象转换成MultipartFile对象，
        设置文件解析的编码一定要与页面编码保持一致pageEncoding
        xml的属性是纯文本，不能写运算符，属性
    -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 最大上传文件的大小 -->
        <property name="maxUploadSize" value="5400000"/>
    </bean>

</beans>